<div class="row">
    <div class="col-md-12">
        <h2>Employees
            <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
        </h2>
        <hr />
    
        <div class = "table-responsive">
            <table class = "table">
                <thead>
                    <tr border = '1'>
                        <th>Employee Num</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Manager ID</th>
                        <th>Status</th>
                        <th>Department</th>
                        <th>Hired On</th>
                        <th></th>
                    </tr>   
                </thead>
                <tbody>
                    {{#each emps}}
                        <tr>
                            <td>{{dataValues.employeeNum}}</td>
                            <td><a href = "/employee/{{dataValues.employeeNum}}">{{dataValues.firstName}} {{dataValues.lastName}}</a></td>
                            <td><a href = "mailto:{{dataValues.email}}">{{dataValues.email}}</a></td>
                            <td>{{dataValues.addressStreet}} {{dataValues.addressCity}} {{dataValues.addressState}} {{dataValues.addressPostal}}</td>
                            <td><a href = "/employees?manager={{dataValues.employeeManagerNum}}">{{dataValues.employeeManagerNum}}</a></td>
                            <td><a href = "/employees?status={{dataValues.status}}">{{dataValues.status}}</a></td>
                            <td><a href = "/employees?department={{dataValues.department}}">{{dataValues.department}}</a></td>
                            <td>{{dataValues.hireDate}}</td>
                            <td class="btn btn-danger" ><a href = "/employees/delete/{{dataValues.employeeNum}}" style="color:white">remove</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
</div>